@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
.active {
  @apply bg-amber-700/10 lg:bg-amber-700 text-orange-500 lg:text-white font-medium px-5 py-4 lg:py-2.5  text-sm rounded-2xl lg:rounded-full;
}
* {
  font-family: "Tajawal", sans-serif;
}
html::selection {
  color: white;
  background-color: #f97316;
}
html {
  scroll-behavior: smooth;
}
.section-label:before {
  content: "";
  height: calc(var(--spacing) * 1.5);
  width: calc(var(--spacing) * 1.5);
  background: #f97316;
  border-radius: 3.40282e38px;
  animation: 2s infinite pulse;
}
